@charset "utf-8";
/* CSS Document */


.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;  
 -webkit-box-orient: horizontal;  
 -webkit-box-direction: normal;  
     -ms-flex-flow: row wrap;  
         flex-flow: row wrap;
  font-weight: bold;
  text-align: center; 
  min-height: 450px;
  -webkit-box-shadow: 2px 3px 8px black;
          box-shadow: 2px 3px 8px black;
  border-radius: 20px;
}

.wrapper > * {
  padding: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1 100%;
          flex: 1 100%;
}





.main {
	text-align: left;

    background:white;
	padding-right: 30px;
	padding-left: 30px;
	padding-bottom: 40px;
	
	 -webkit-box-flex: 1;
      -ms-flex: 1 100%;
          flex: 1 100%;
	
	
	
}


/*Dark on White theme*/

.pBlack {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
	color: black;
	padding-right: 20%;
	padding-left: 20%;
	line-height: 22px;
}



.h2MidBlack {
	color: #333;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	padding-right: auto;
	padding-left: auto;
	text-align: center;
	
	}


.pMidBlack{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: #3E3E3E;
	padding-right: 5%;
	padding-left: 5%;
	line-height: 22px;
	font-weight: 500;
	text-align: left;
	}




.LeftPMidBlack {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 18px;
	color: #000000;
	padding-right: 5%;
	padding-left: 5%;
	line-height: 22px;
	font-weight: bold;
	text-align: left;
	}
	
	
.LeftPSilver {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
	color: Silver;
	padding-right: 5%;
	padding-left: 5%;
	line-height: 22px;
	font-weight: 500;
	text-align: left;
}

	
.h2Black {
	font-family: Georgia, "Times New Roman", Times, serif;
	color: black;
	font-size: 30px;
	font-weight: 500;
	text-align: center;
}
	
	
	
.pFadedBlack {
	font-family: Helvetica, Arial, sans-serif;
	color: #666666;
	font-size: 13px;
	font-weight: 500;
	text-align: center;
	line-height: 20px;
	padding-right: 20%;
	padding-left: 20%;
}


.BigBoldList {
	font-weight: 700;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 20px;
	color: #000;
	padding-left: 50px;
	list-style-type: none;
	
}



.responsiveImage  {
	-webkit-box-shadow: 2px 3px 8px black;
	        box-shadow: 2px 3px 8px black;
  border-radius: 10px;
  margin-bottom: 20Px;
	 margin-top: 20Px;
	
}
	
	
  
  
  &::before {
    content: '';
    padding: 0.5em;
	
	width:75%
	/*min-width: 100%;*/
  }


  
  
  
  
 
.main .backgroundBlack {
	background-color: #000;
}


/*Brought over from Microsoft Word*/


p.MsoNormal {
font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #4E4E4E;
	padding-right: 5%;
	padding-left: 5%;
	line-height: 22px;
	font-weight: 500;
	text-align: left;
	line-height: 115%;
}



span.bolded{
	color: black;
	font-weight: 900;
	font-size: 17px;
	color: #000;
	}
p.goldenLeft {
margin-top:0in;
margin-right:0in;
margin-bottom:10.0pt;
margin-left:0in;
line-height:115%;
font-size:13.0pt;
font-family:"Times New Roman",serif;
color:#C1A603;
font-weight:bold;
}
p.GoldCentered {
margin-top:24.0pt;
margin-right:0in;
margin-bottom:6.0pt;
margin-left:0in;
text-align:center;
line-height:115%;
font-size:14.0pt;
font-family:"Calibri Light",sans-serif;
color:#947F28;
font-weight:bold;
}
p.boldBlue {
margin-top:0in;
margin-right:0in;
margin-bottom:12.0pt;
margin-left:0in;
font-size:12.0pt;
font-family:"Times New Roman",serif;
color:blue;
font-weight:bold;
}
p.BoldRed {
margin-top:0in;
margin-right:0in;
margin-bottom:10.0pt;
margin-left:0in;
line-height:115%;
font-size:12.0pt;
font-family:"Times New Roman",serif;
color:red;
font-weight:bold;
}

.workCited {
	font-family: "Times New Roman", Times, serif;
	font-size: 18px;
	font-weight: 700;
	color: #27789E;
	text-align: center;	
	}

.blueEmphasis {
	font-family: "Times New Roman", Times, serif;
	font-size: 15px;
	font-style: italic;
	color: #27789E;
	font-weight: 600;
	line-height: 1em;
	display: inline;
}
	



/*Author and Date for Article Page*/

.author {
	font-family: 'Open+Sans', normal;
	font-size:12px;
	line-height: 2px;
	font-weight: bold;
	color: #486A84;
	font-style: normal;
	padding: 10px;
	margin-top: 30px;
	letter-spacing: 3px;
	margin-bottom: 20px;
	text-align: left;
	line-height: 150%;
	
}

.articleDate{
	font-family: "Times New Roman", Times, serif;
	text-align: right;
	color: #486A84;
	margin-right: 20px;
	padding-right: 20px;	
	line-height: 150%;
	
	}

/*media Queries*/

@media all and (min-width: 300px) {
	
	
	
	
  .aside { -webkit-box-flex: 1; -ms-flex: 1 0 0px; flex: 1 0 0; }
 .header{ background-image: url(../Images/banner_425_small.png);
	background-repeat: no-repeat;
	background-position: center bottom;
	height: 110px;
  
}

.wideImg {
    width: 70%;
	height:auto;
	
 margin-bottom: 20Px;
	 margin-top: 20Px;
	
  }
  
 .cartoonImg {
	width: 80%;
	height: auto;
	padding-right: 0px;
	padding-left: 0px;
	margin-right: 0px;
	margin-left: 0px;
}
 
.image {
    width: 100%;
	height:auto;
  }
  
}
@media all and (min-width: 600px) {
  .aside { -webkit-box-flex: 1; -ms-flex: 1 0 0px; flex: 1 0 0; }
 .header{ background-image: url(../Images/banner_625_small.png);
	background-repeat: no-repeat;
	background-position: center bottom;
	height: 160px;
  
}

.wideImg {
    width: 90%;
  }

 .cartoonImg {
	width: 90%;
	height: auto;
	
}
}

@media all and (min-width: 800px) {
  .aside { -webkit-box-flex: 1; -ms-flex: 1 0 0px; flex: 1 0 0; }
 .header{ background-image: url(../Images/banner_825.png);
	background-repeat: no-repeat;
	background-position: center bottom;
	height: 300px;
  
}

}

@media all and (min-width: 1200px) {
  .main    { -webkit-box-flex: 3; -ms-flex: 3 0px; flex: 3 0px; }
  .aside-1 { -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; } 
  .main    { -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2; }
  .aside-2 { -webkit-box-ordinal-group: 4; -ms-flex-order: 3; order: 3; }
  .footer  { -webkit-box-ordinal-group: 5; -ms-flex-order: 4; order: 4; }
  
  .header{
	background-image: url(../Images/banner_1200.png);
	background-repeat: no-repeat;
	background-position: center bottom;
	height: 430px;
}

}

.main {
	
	padding-top: 50px;
	
}
