@charset "utf-8";
/* CSS Document */

.main {
	
	background:white;
	
}


/*Dark on White theme*/

.pBlack {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
	color: black;
	padding-right: 20%;
	padding-left: 20%;
	line-height: 22px;
}



.h2MidBlack {
	color: #333;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	padding-right: auto;
	padding-left: auto;
	text-align: center;
	
	}


.pMidBlack{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: #3E3E3E;
	padding-right: 5%;
	padding-left: 5%;
	line-height: 22px;
	font-weight: 500;
	text-align: left;
	}




.LeftPMidBlack {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #4E4E4E;
	padding-right: 5%;
	padding-left: 5%;
	line-height: 22px;
	font-weight: 500;
	text-align: left;
	}
	
	
.LeftPSilver {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
	color: Silver;
	padding-right: 5%;
	padding-left: 5%;
	line-height: 22px;
	font-weight: 500;
	text-align: left;
}

	
.h2Black {
	font-family: Georgia, "Times New Roman", Times, serif;
	color: black;
	font-size: 30px;
	font-weight: 500;
	text-align: center;
}
	
	
	
.pFadedBlack {
	font-family: Helvetica, Arial, sans-serif;
	color: #666666;
	font-size: 13px;
	font-weight: 500;
	text-align: center;
	line-height: 20px;
	padding-right: 20%;
	padding-left: 20%;
}



.responsiveImage  {
	box-shadow: 2px 3px 8px black;
  border-radius: 20px;
  margin-bottom: 20Px;
	
}
	
	
  padding-left: 10em;
  
  &::before {
    content: '';
    padding: 0.5em;
	
	width:75%:
	/*min-width: 100%;*/
  }


  
  
  
  
 
.main .backgroundBlack {
	background-color: #000;
}


/*Brought over from Microsoft Word*/


p.MsoNormal {
font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #4E4E4E;
	padding-right: 5%;
	padding-left: 5%;
	line-height: 22px;
	font-weight: 500;
	text-align: left;
	line-height: 115%;
}



span.bolded{
	font-color: black;
	font-weight: 900;
	font-size: 17px;
	color: #000;
	}
p.goldenLeft {
margin-top:0in;
margin-right:0in;
margin-bottom:10.0pt;
margin-left:0in;
line-height:115%;
font-size:13.0pt;
font-family:"Times New Roman",serif;
color:#C1A603;
font-weight:bold;
}
p.GoldCentered {
margin-top:24.0pt;
margin-right:0in;
margin-bottom:6.0pt;
margin-left:0in;
text-align:center;
line-height:115%;
font-size:14.0pt;
font-family:"Calibri Light",sans-serif;
color:#947F28;
font-weight:bold;
}
p.boldBlue {
margin-top:0in;
margin-right:0in;
margin-bottom:12.0pt;
margin-left:0in;
font-size:12.0pt;
font-family:"Times New Roman",serif;
color:blue;
font-weight:bold;
}
p.BoldRed {
margin-top:0in;
margin-right:0in;
margin-bottom:10.0pt;
margin-left:0in;
line-height:115%;
font-size:12.0pt;
font-family:"Times New Roman",serif;
color:red;
font-weight:bold;
}

.workCited {
	font-family: "Times New Roman", Times, serif;
	font-size: 18px;
	font-weight: 700;
	color: #27789E;
	text-align: center;	
	}

.blueEmphasis {
	font-family: "Times New Roman", Times, serif;
	font-size: 15px;
	font-style: italic;
	color: #27789E;
	font-weight: 600;
	line-height: 1em;
	display: inline;
}
	



/*Author and Date for Article Page*/

.author {
	font-family: 'Open+Sans', normal;
	font-size:12px;
	line-height: 2px;
	font-weight: bold;
	color: #486A84;
	font-style: normal;
	padding: 10px;
	margin-top: 30px;
	letter-spacing: 3px;
	margin-bottom: 20px;
	text-align: left;
	line-height: 150%;
	
}

.articleDate{
	font-family: "Times New Roman", Times, serif;
	text-align: right;
	color: #486A84;
	margin-right: 20px;
	padding-right: 20px;	
	line-height: 150%;
	
	}

