@charset "utf-8";
@import url("DarkOnLight.css");
/* CSS Document */

/* General Layout */
body {
  padding: 2em;
  background-color: #00050f;
}

/* Main Page CSS Setup */
.wrapper {
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
  min-height: 450px;
  box-shadow: 2px 3px 8px black;
  border-radius: 20px;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

/* Header */
.header {
  background-color: black;
  background-image: url(../Images/banner_1200.png);
  height: 430px;
  background-repeat: no-repeat;
}

/* Footer */
.footer {
  background-color: #020d25;
  color: #9e8c69;
  text-align: center;
  box-shadow: 2px 3px 8px #424344;
  border-radius: 2px;
  padding: 40px 10px 10px;
}

/* Main Content */
.main {
  text-align: left;
  background: #111111;
  padding: 50px 30px 40px;
}

.oneColumnDiv {
  text-align: left;
  background: #111111;
  height: 100px;
  padding: 10px;
}

/* Aside */
.aside-1,
.aside-2 {
  background: black;
  box-shadow: 2px 3px 8px #424344;
  border-radius: 15px;
  padding-bottom: 40px;
}

.aside-2 {
  color: silver;
}

/* Utility Classes */
.dropShadow {
  box-shadow: 2px 3px 8px black;
  border-radius: 20px;
}

.coverImage {
  background-repeat: no-repeat;
  background-size: cover;
}

.cartoonImg {
  width: 100%;
  height: auto;
}

/* Typography */
.pGold {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #eae6ad;
  padding: 0 20%;
  line-height: 22px;
}

.h2Silver,
.LH2Silver {
  font-family: "Times New Roman", Times, serif;
  color: silver;
  line-height: 22px;
  font-weight: 500;
}

.h2Silver {
  font-size: 16px;
  text-align: center;
}

.LH2Silver {
  font-size: 24px;
  padding: 0 5%;
  text-align: left;
}

.pSilver {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: silver;
  padding: 0 5%;
  line-height: 22px;
  font-weight: 500;
  text-align: left;
}

.H2LBrown,
.tableOfContentHeading {
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
  color: #9e8c69;
  padding: 0 5%;
  line-height: 22px;
  font-weight: 500;
  text-align: left;
}

.h2Gold {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #d5dba4;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
}

.pFadedSilver {
  font-family: Helvetica, Arial, sans-serif;
  color: #999999;
  font-size: 13px;
  font-weight: 500;
  text-align: center;
  line-height: 20px;
  padding: 0 20%;
}

.listIndent {
  margin-left: 25px;
  list-style-type: none;
}

.boldBlue {
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  font-weight: 800;
  color: #03c;
}

span.BoldRed,
.BoldRed {
  font-size: 12pt;
  font-family: "Times New Roman", serif;
  color: red;
  font-weight: bold;
}

p.code {
  font-size: 10pt;
  font-family: "Courier New";
}

p.BlueBolden {
  font-size: 12pt;
  font-family: "Times New Roman", serif;
  color: blue;
  font-weight: bold;
}

.smallBlueList {
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
  font-style: italic;
  color: #27789e;
  font-weight: 600;
  line-height: 1.4em;
  list-style-type: none;
  padding-bottom: 3px;
  margin-left: 40px;
}

/* Navigation */
.navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  background: #020d26;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: #9e8c69;
}

.navigation a:hover {
  color: #c4b97b;
}

.archiveListLink a {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  text-decoration: none;
  display: block;
  font-weight: bold;
  text-align: center;
  color: #9e8c69;
}

.archiveListLink a:hover {
  color: #c4b97b;
  text-decoration: underline;
}

a.customLink {
  color: gold;
  text-decoration: none;
}

a.customLink:hover {
  color: silver;
  text-decoration: underline;
}

.tableOfContents a {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  text-decoration: none;
  display: block;
  font-weight: bold;
  text-align: left;
  color: black;
  line-height: 10px;
}

.tableOfContents a:hover {
  color: #646464;
  text-decoration: underline;
}

/* Media Queries */
@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .navigation {
    flex-flow: column wrap;
    padding: 0;
  }

  .navigation a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .navigation li:last-of-type a {
    border-bottom: none;
  }
}

@media all and (min-width: 300px) {
  .aside {
    flex: 1 0 0;
  }

  .header {
    background-image: url(../Images/banner_425_small.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    height: 110px;
  }

  .wideImg {
    width: 70%;
    height: auto;
    margin: 20px 0;
  }

  .cartoonImg {
    width: 80%;
    height: auto;
  }

  .image {
    width: 100%;
    height: auto;
  }
}

@media all and (min-width: 600px) {
  .header {
    background-image: url(../Images/banner_625_small.png);
    height: 160px;
  }

  .wideImg {
    width: 90%;
  }

  .cartoonImg {
    width: 90%;
  }
}

@media all and (min-width: 800px) {
  .header {
    background-image: url(../Images/banner_825.png);
    height: 300px;
  }
}

@media all and (min-width: 1200px) {
  .main {
    flex: 3 0px;
  }

  .aside-1 {
    order: 1;
  }

  .main {
    order: 2;
  }

  .aside-2 {
    order: 3;
  }

  .footer {
    order: 4;
  }

  .header {
    background-image: url(../Images/banner_1200.png);
    height: 430px;
  }
}

/* Potential Fix for Image Gallery */
.image-gallery {
  justify-content: center !important; /* Ensure centering */
}

.navigationButtons a {
  background-color: #c4b97b;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1em 1.5em;
  margin-left: 50px;
  box-shadow: 1px 4px 5px rgb(140 87 38);
  border-radius: 20px;
}

.goldEmphasis {
  color: #c4b97b;
  padding-left: 30px;
}
.wrapper .main .container {
	padding-top: 40px;
}
